<ion-view view-title="忘记密码" align-title="left">
    <ion-content >


        <div class="content">
            <br/>
            <div>
                <p align="center">请填写要找回密码的账号(手机号码) </p>
            </div>

            <form class="list list-inset" name="postsForm">
                <label class="item item-input">
                    <lable class="input-label">账号</lable>
                    <input placeholder="输入注册手机号" name="phone" type="tel" ng-model="user.phone" required ng-minlength="11" ng-maxlength="11">
       </label>

        </label>
            </form>
            <div class="padding">
                <button ng-click="checkPhoneNumber()" class="button button-full button-positive"  ng-disabled="postsForm.$invalid"
                >确定
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>