 <div class="modal"   >

 <div class="publishLayer" >

	<div   id="mapdiv"  style="width:100%; height:70%; display:block;" > </div>
	 
	 <div class="item item-input" >
	                <i class="icon ion-search placeholder-icon"  ng-click="mapIni()"></i>
	                <input type="text" placeholder="详细地址..." ng-model="map.address">
	  </div>
	<div class="publishFunctionBox" ng-click="closeModal()">
    <div class="close circleIcon" >
      <i class="ion-close-round icon"></i>
    </div>
  </div>

</div>
</div>