<ion-view view-title="附加信息" hide-tabs="true">
    <ion-content>
        <div class="activityDetailed">

            <div class="detailedBox">
                <div class="detailedText">
                    <textarea class="init"
                              ng-model="userInfo.extraMessage.text" placeholder="多行输入"></textarea>
                </div>
                <div class="upload-photo-control" ng-model="save" upload-photo-control>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>