<ion-view view-title="功能介绍" hide-tabs="true"> 
 <ion-content>
 
<ion-slide-box >
    <ion-slide>
      <img src="img/1.png">
    </ion-slide>
    <ion-slide>
     <img src="img/2.png">
    </ion-slide>
    <ion-slide>
    <img src="img/3.png">
    </ion-slide>
        <ion-slide>
    <img src="img/4.png">
    </ion-slide>
        <ion-slide>
    <img src="img/5.png">
    </ion-slide>
        <ion-slide>
    <img src="img/6.png">
    </ion-slide>
        <ion-slide>
    <img src="img/7.png">
    </ion-slide>
        <ion-slide>
    <img src="img/8.png">
    </ion-slide>
        <ion-slide>
    <img src="img/9.png">
    </ion-slide>
        <ion-slide>
    <img src="img/10.png">
    </ion-slide>
        <ion-slide>
    <img src="img/11.png">
    </ion-slide>
        <ion-slide>
    <img src="img/12.png">
  
    </ion-slide>
  </ion-slide-box>

  </ion-content>
  </ion-view>